@use 'app' as *;

.dropdown {
  display: inline-flex;
}

.trigger {
  display: flex;

  width: 100%;

  white-space: nowrap;

  color: $textColor;
  border-radius: $borderRadius;

  transition: background-color 0.1s, color 0.1s;

  &::before {
    content: '[';

    font-weight: bold;
  }

  &::after {
    content: ']';

    font-weight: bold;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $gray;
      color: $backgroundColor;
    }
  }

  &:focus-visible {
    background-color: $gray;
    color: $backgroundColor;

    &::before {
      color: $textBrightColor;
    }

    &::after {
      color: $textBrightColor;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: $textDimColor;

    &::before {
      content: '|';
    }

    &::after {
      content: '|';
    }
  }

  &.invalid {
    &::before,
    &::after {
      color: $red;
    }
  }
}

.trigger-open {
  background-color: $gray;
  color: $backgroundColor;
}

.label {
  display: flex;
  width: 100%;
}

.menu {
  max-height: round(down, ch(12), ch(1));
  overflow-y: auto;
}

.option {
  width: 100%;

  cursor: pointer;
  white-space: nowrap;

  transition: background-color 0.1s, color 0.1s;

  padding: 0 cw(2);
}

.option-selected {
  color: $textBrightColor;
  padding-left: 0;

  &::before {
    content: '> ';
    color: $primaryBrightColor;
  }
}

.option-active {
  background-color: $gray;
  color: $backgroundColor;
}

.selection-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;

  button {
    width: 100%;
  }
}
