@use 'app' as *;

%label-container-base {
  display: grid;
  grid-template-columns: auto auto;

  position: absolute;
  max-width: calc(100% - cw(2));
  width: 100%;
}

%label-base {
  display: flex;
  max-width: 100%;
  backdrop-filter: blur(100rem);
  font-weight: bold;
}

.container {
  position: relative;

  padding: ch(1) cw(1);

  :where(&) {
    overflow: hidden;

    --widget-border-color: #{$borderColor};
    --widget-border-style: solid;
    --widget-border-width: #{$borderSize};
    --widget-border-radius: #{$borderRadius};
  }

  .pre-decorator-top,
  .post-decorator-top,
  .pre-decorator-bottom,
  .post-decorator-bottom {
    position: relative;
    width: cw(1);
    height: ch(1);
    flex-shrink: 0;

    &::after {
      content: '';
      position: absolute;

      $decoratorSize: 30%;

      width: calc(50% - var(--widget-border-width) / 2);
      height: calc($decoratorSize - var(--widget-border-width) / 2);

      bottom: calc(50% - $decoratorSize);

      border-top: var(--widget-border-width) var(--widget-border-style) var(--widget-border-color);
      border-right: var(--widget-border-width) var(--widget-border-style) var(--widget-border-color);
    }
  }

  .post-decorator-top {
    transform: scaleX(-1);
  }

  .pre-decorator-bottom {
    transform: scaleY(-1);
  }

  .post-decorator-bottom {
    transform: scaleX(-1) scaleY(-1);
  }

  .top-labels {
    @extend %label-container-base;
    top: 0;
  }

  .bottom-labels {
    @extend %label-container-base;
    bottom: 0;
  }

  .left-labels {
    display: flex;
    justify-content: flex-start;
  }

  .right-labels {
    display: flex;
    justify-content: flex-end;
  }

  .top-left-label,
  .top-right-label,
  .bottom-left-label,
  .bottom-right-label {
    @extend %label-base;

    color: $textBrightColor;
  }

  &::before {
    content: '';
    position: absolute;

    pointer-events: none;
    user-select: none;

    height: calc(100% - ch(1) - var(--widget-border-width));
    width: calc(100% - cw(1) - var(--widget-border-width));

    top: calc(ch(1) / 2 - var(--widget-border-width) / 2);
    left: calc(cw(1) / 2 - var(--widget-border-width) / 2);

    border-color: var(--widget-border-color);
    border-style: var(--widget-border-style);
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
  }
}

.divider {
  :where(&) {
    --divider-border-color: #{$borderColor};

    background-color: var(--divider-border-color);
  }

  &.color-start {
    &::before {
      --divider-border-color: var(--widget-border-color, --divider-border-color);
    }
  }

  &.color-end {
    &::after {
      --divider-border-color: var(--widget-border-color, --divider-border-color);
    }
  }

  &.horizontal {
    height: var(--widget-border-width, $borderSize);

    margin-top: calc((ch(1) - var(--widget-border-width, $borderSize)) / 2);
    margin-bottom: calc((ch(1) - var(--widget-border-width, $borderSize)) / 2);

    &.connectStart {
      position: relative;

      &::before {
        content: '';

        position: absolute;

        left: calc(cw(-1) / 2 + var(--widget-border-width, $borderSize) / 2);

        background-color: var(--divider-border-color);

        width: calc(cw(1) / 2 - var(--widget-border-width, $borderSize) / 2);
        height: var(--widget-border-width, $borderSize);
      }
    }

    &.connectEnd {
      position: relative;

      &::after {
        content: '';

        position: absolute;

        right: calc(cw(-1) / 2 + var(--widget-border-width, $borderSize) / 2);

        background-color: var(--divider-border-color);

        width: calc(cw(1) / 2 - var(--widget-border-width, $borderSize) / 2);
        height: var(--widget-border-width, $borderSize);
      }
    }
  }

  &.vertical {
    width: var(--widget-border-width, $borderSize);

    margin-left: calc((cw(1) - var(--widget-border-width, $borderSize)) / 2);
    margin-right: calc((cw(1) - var(--widget-border-width, $borderSize)) / 2);

    &.connectStart {
      position: relative;

      &::before {
        content: '';

        position: absolute;

        top: calc(ch(-1) / 2 + var(--widget-border-width, $borderSize) / 2);

        background-color: var(--divider-border-color);

        height: calc(ch(1) / 2 - var(--widget-border-width, $borderSize) / 2);
        width: var(--widget-border-width, $borderSize);
      }
    }

    &.connectEnd {
      position: relative;

      &::after {
        content: '';

        position: absolute;

        bottom: calc(ch(-1) / 2 + var(--widget-border-width, $borderSize) / 2);

        background-color: var(--divider-border-color);

        height: calc(ch(1) / 2 - var(--widget-border-width, $borderSize) / 2);
        width: var(--widget-border-width, $borderSize);
      }
    }
  }
}
