@use 'app' as *;

.table {
  position: relative;

  padding: ch(1) cw(1);

  max-width: round(down, calc(100% + 1px), cw(1));

  // border-collapse: collapse;
  border-spacing: 0;

  &::after {
    content: '';

    position: absolute;

    top: calc(ch(1) / 2 - $borderSize / 2);
    left: calc(cw(1) / 2 - $borderSize / 2);

    width: calc(100% - cw(1) + $borderSize);
    height: calc(100% - ch(1) + $borderSize);

    box-sizing: border-box;

    border-radius: $borderRadius;

    border-color: $borderColor;
    border-style: solid;
    border-width: $borderSize;

    pointer-events: none;
  }

  th,
  td {
    padding: 0;
    border: none;
  }

  th {
    padding: 0 cw(1);

    user-select: none;

    &.sortable {
      position: relative;

      padding-right: cw(2);

      text-indent: cw(1);

      cursor: pointer;

      span {
        position: absolute;
        right: 0;

        text-indent: 0;

        font-weight: 400;
      }
    }

    min-width: calc(cw(1) * var(--min-width, 'auto'));
    width: calc(cw(1) * var(--width, 'auto'));
    max-width: calc(cw(1) * var(--max-width, 'auto'));
  }

  .vertical-border {
    position: relative;

    padding-right: cw(2);

    &.sortable {
      padding-right: cw(3);

      span {
        right: cw(1);
      }
    }

    &::after {
      content: '';

      position: absolute;

      top: 50%;
      right: calc(cw(1) / 2 - $borderSize / 2);

      width: $borderSize;
      height: calc(100% + ch(1));

      transform: translateY(-50%);

      background-color: $borderColor;

      box-sizing: border-box;
      pointer-events: none;
    }
  }

  .horizontal-border {
    position: relative;

    padding-bottom: ch(1);

    &::before {
      content: '';

      position: absolute;

      bottom: calc(ch(1) / 2 - $borderSize / 2);
      left: 50%;

      width: calc(100% + cw(1));
      height: $borderSize;

      transform: translateX(-50%);

      background-color: $borderColor;

      box-sizing: border-box;
      pointer-events: none;
    }
  }

  .highlightable {
    cursor: pointer;

    transition: all 0.1s;

    &:hover {
      color: $backgroundColor;
      background-color: $textBrightColor;
    }
  }

  .align-right {
    text-align: right;
  }

  .align-center {
    text-align: center;
  }

  .align-left {
    text-align: left;
  }

  .valign-top {
    vertical-align: top;
  }

  .valign-middle {
    vertical-align: middle;
  }

  .valign-bottom {
    vertical-align: bottom;
  }
}
