@use 'app' as *;

.container {
  display: flex;
  position: relative;

  padding: ch(1) cw(1);

  width: fit-content;

  overflow: hidden;
  contain: content;

  $borderSize: 1.9px;

  .borderContainer {
    position: absolute;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    padding: calc(ch(1) / 2 - $borderSize) calc(cw(1) / 2 - $borderSize);

    .border {
      width: 100%;
      height: 100%;

      border: solid $borderSize $borderColor;

      padding: $borderSize;
    }
  }
}
