IMAGE_NAME=mundial-manager
IMAGE_TAG=local

WEB_PORT=4200
HMR_PORT=5556
SERVER_PORT=4200
NGINX_PORT=8090
BUILD_SOURCEMAP=false

BASE_SITE_URL=http://localhost:4200/
VITE_CALCULATOR_URL=http://localhost

POSTGRES_HOST=localhost
POSTGRES_PORT=4300
POSTGRES_EXTERNAL_PORT=4300
POSTGRES_USER=postgres
POSTGRES_PASS=mm_password
POSTGRES_DB=MM_DEV_DB

RABBITMQ_ENABLED=true
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_EXTERNAL_PORT=5672
RABBITMQ_MANAGEMENT_EXTERNAL_PORT=15672
RABBITMQ_USER=rabbit
RABBITMQ_PASS=rb_password

# openssl genpkey -algorithm RSA -pkeyopt rsa_keygen_bits:4096 -out priv.pem
# openssl rsa -pubout -in priv.pem -out pub.pem
JWT_COOKIE_NAME=mm_token
PUB_KEY_PATH=./pub.pem
PRIV_KEY_PATH=./priv.pem
# KEY_PASSPHRASE=

GOOGLE_DOCS_API_EMAIL=service-account@example.iam.gserviceaccount.com
GOOGLE_DOCS_API_KEY=changeme
GOOGLE_DOCS_SPREADSHEET_ID=changeme

# DISCORD_WEBHOOK_ID=
# DISCORD_WEBHOOK_TOKEN=
# MANAGER_ICON_URL=

# NGINX_PARAM_KEY=
# NGINX_SECRET=
