@use 'app' as *;

.outer-container {
  max-height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-gutter: stable;
}

.form-container {
  width: fit-content;
}

.form {
  display: grid;

  column-gap: cw(1);
  grid-template-columns: auto auto;

  justify-items: center;
}

.label {
  width: 100%;
  text-align: right;
}

.dynamic-form-container {
  max-width: cw(40);
}
