@use 'app' as *;
@use 'backgrounds' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  .animation {
    max-width: round(down, 100%, cw(1));
    max-height: round(down, 100%, ch(1));
  }

  .text {
    text-align: center;
  }

  .error-details {
    width: cw(50);
    max-width: calc(100% - cw(2));

    padding: ch(1) cw(1);

    @include stripedBackground;

    summary {
      cursor: pointer;

      color: $textBrightColor;
      font-weight: bold;

      user-select: none;
    }
  }
}
