@use 'app' as *;

.modal {
  --modal-width: #{cw(50)};

  .container {
    display: grid;
    grid-template-columns: auto auto;

    align-items: end;

    column-gap: cw(1);

    span {
      text-align: right;
    }
  }

  .not-found {
    text-align: center;
  }

  .divider {
    --divider-border-style: dashed;
  }

  .delta {
    margin-left: cw(1);
    white-space: nowrap;

    &.positive {
      color: $greenBright;
    }

    &.negative {
      color: $redBright;
    }
  }

  .delta-symbol {
    user-select: none;
  }

  .player-list-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin: 0 cw(1);
    margin-bottom: ch(1);

    .player {
      &:not(.selected) {
        text-decoration: dashed underline;

        padding: 0 cw(1);
      }
    }

    .selected {
      font-weight: bold;
      color: $textBrightColor;

      pointer-events: none;

      &::before {
        content: '>';
        color: $primaryColor;
        font-weight: bold;
      }

      &::after {
        content: '<';
        color: $primaryColor;
        font-weight: bold;
      }
    }

    .compared {
      font-weight: bold;
      color: $textBrightColor;
    }
  }

  .section-label {
    display: inline-block;

    width: 100%;
    text-align: center;

    color: $textBrightColor;
  }

  .positive {
    color: $greenBright;
  }

  .negative {
    color: $redBright;
  }

  .hth-table {
    border-collapse: collapse;
    width: calc(100% - cw(2));

    margin: 0 cw(1);

    thead {
      td {
        font-weight: bold;
        color: $textBrightColor;
      }
    }

    .min-width {
      width: 1%;
      white-space: nowrap;
    }

    .align-right {
      text-align: right;
    }

    .align-center {
      text-align: center;
    }

    .comparison {
      display: grid;
      grid-template-columns: 1fr auto 1fr;

      span:first-child {
        text-align: right;
      }

      span:last-child {
        text-align: left;
      }
    }

    td {
      padding: 0;

      &:not(:last-child) {
        padding-right: cw(1);
      }
    }
  }
}
