@use 'app' as *;

.modal {
  --modal-width: #{cw(50)};

  .container {
    display: grid;
    grid-template-columns: auto auto;

    align-items: end;

    column-gap: cw(1);

    span {
      text-align: right;
    }
  }

  .not-found {
    text-align: center;
  }

  .divider {
    --divider-border-style: dashed;
  }

  .delta {
    margin-left: cw(1);
    white-space: nowrap;

    &.positive {
      color: $greenBright;
    }

    &.negative {
      color: $redBright;
    }
  }

  .delta-symbol {
    user-select: none;
  }

  .player-list-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin: 0 cw(1);
    margin-bottom: ch(1);

    .player {
      &:not(.selected) {
        text-decoration: dashed underline;

        padding: 0 cw(1);
      }
    }

    .selected {
      font-weight: bold;
      color: $textBrightColor;

      pointer-events: none;

      &::before {
        content: '>';
        color: $primaryColor;
      }

      &::after {
        content: '<';
        color: $primaryColor;
      }
    }

    .compared {
      font-weight: bold;
      color: $textBrightColor;
    }
  }
}
