@use 'app' as *;
@use 'backgrounds' as *;

.color {
  :where(&) {
    --width: 10;
    --color: #{$textColor};
  }

  display: inline-block;
  vertical-align: bottom;

  width: cw(var(--width));
  height: ch(1);

  transition: background-color 0.2s ease-in-out;

  @include brailleBackground(var(--color));
}
