@use 'app' as *;

.color {
  :where(&) {
    --width: 10;
    --color: #{$textColor};
  }

  display: inline-block;
  vertical-align: bottom;

  width: cw(var(--width));
  height: ch(1);

  transition: background-color 0.2s ease-in-out;

  background-color: var(--color);

  mask: url('/frontend/assets/images/braille.svg') 0 0 / cw(1) ch(1);
}
