@use 'app' as *;

.charts-container {
  display: grid;
  grid-template-columns: 1fr;

  width: 100%;
  max-width: 100%;

  container-type: inline-size;
  container-name: charts;

  .chart {
    height: ch(30);
    width: 100%;
    max-width: 100%;
  }

  .multi-chart-row {
    display: flex;
    gap: cw(1);
  }

  .pie-chart-container {
    height: ch(30);
    width: cw(50);

    .pie-chart {
      height: ch(15);
    }
  }

  @container charts (max-width: 800px) {
    .multi-chart-row {
      flex-direction: column;
    }

    .pie-chart-container {
      width: 100%;
    }
  }
}
