@use 'app' as *;

.container {
  width: cw(40);
  height: ch(20);
}

.entry {
  cursor: pointer;
  transition: 0.1s background-color, 0.1s color;

  @media (hover: hover) {
    &:hover {
      background: $textBrightColor;
      color: $backgroundColor;

      &::selection {
        background-color: $backgroundColor;
        color: $textBrightColor;
      }
    }
  }
}
