@use 'app' as *;

.modal {
  --modal-width: #{cw(40)};
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 cw(1);
}

.field-row {
  display: grid;
  grid-template-columns: cw(10) 1fr;
  gap: cw(1);
  align-items: center;
}

.field-label {
  text-align: right;
  white-space: nowrap;
}

.field-input {
  width: 100%;
  display: inline-flex;
  align-items: center;

  input {
    width: 100%;
  }
}

.date-input {
  display: inline-flex;
  align-items: center;
}

.divider {
  --divider-border-style: dashed;
}

.hint-row {
  pre {
    white-space: break-spaces;
  }
}

.no-errors {
  text-align: center;
  display: inline-block;
  width: 100%;

  font-style: italic;
  color: $textDimColor;
}
