@use 'app' as *;
@use 'backgrounds' as *;

.outer-container {
  max-height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  scrollbar-gutter: stable;

  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  gap: cw(1);
}

.no-description {
  color: $textDimColor;
  font-style: italic;
}

.leagues-table-container {
  max-height: 100%;
  overflow-y: auto;

  .leagues-table {
    width: calc(100% - cw(2));
    margin: 0 auto;

    td:global(.data-column-uuid) {
      color: $primaryColor;
    }
  }
}
