@use 'app' as *;

.container {
  position: relative;
  overflow: visible;

  color: $primaryBrightColor;

  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

  :where(&) {
    @media (hover: hover) {
      &:hover {
        background-color: $primaryColor;
        color: inherit;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: cw(-1);
    width: cw(3);
    height: ch(1.5);

    z-index: 100;
  }
}

.activated {
  background-color: $primaryBrightColor;
  color: inherit;
}
