@use 'app' as *;

.container {
  display: flex;
  flex-direction: column;

  max-height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-gutter: stable;

  .matches {
    display: grid;
    grid-template-columns: max-content max-content 1fr;

    gap: cw(1);
  }
}
