@use 'app' as *;
@use 'backgrounds' as *;

.container {
  max-height: 100%;

  .inner-container {
    max-height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    scrollbar-gutter: stable;
  }

  .controls {
    display: flex;

    gap: cw(1);
    margin-top: ch(1);
  }

  .table {
    width: 100%;
  }

  .highlightedScore {
    color: $textBrightColor;
  }

  @media (hover: hover) {
    :hover > * > .highlightedScore {
      color: $backgroundColor;
    }
  }

  .team-color {
    display: inline-block;

    width: round(down, 100%, cw(1));
    height: ch(1);

    @include brailleBackground(var(--team-color));
  }
}
