@use 'app' as *;

.picker {
  min-width: cw(20);

  white-space: nowrap;

  display: inline-flex;

  color: $textColor;
  border-radius: $borderRadius;

  transition:
    background-color 0.1s,
    color 0.1s;

  &::before {
    content: '[';
    font-weight: bold;
  }

  &::after {
    content: ']';
    font-weight: bold;
  }

  @media (hover: hover) {
    &:hover {
      &::before,
      &::after {
        color: $textBrightColor;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: $textDimColor;

    &::before {
      color: $textDimColor;

      content: '|';
    }

    &::after {
      color: $textDimColor;
      content: '|';
    }
  }

  &.invalid {
    &::before,
    &::after {
      color: $red;
    }
  }
}

.inv .menu {
  max-height: round(down, ch(12), ch(1));
  overflow-y: auto;
}

.content {
  display: inline-flex;
  vertical-align: bottom;

  text-align: left;

  width: 100%;
}

.option-container {
  position: relative;
  min-height: ch(1);
}

.option {
  display: block;
  text-align: left;

  width: 100%;

  cursor: pointer;
  white-space: nowrap;

  transition:
    background-color 0.1s,
    color 0.1s;

  padding: 0 cw(2);

  &:hover {
    background-color: $gray;
    color: $backgroundColor;
  }
}

.picked {
  color: $textBrightColor;
  padding-left: 0;

  &::before {
    content: '> ';
    color: $primaryBrightColor;
  }
}

.input {
  display: inline-flex;
  width: 100%;

  input {
    flex-grow: 1;
    width: 0;
  }
}
