@use 'app' as *;
@use 'sass:color';

%label-disabled {
  &:has(input:disabled) {
    cursor: not-allowed;
    color: $textDimColor;
  }
}

.input {
  input {
    background-color: transparent;

    border: none;
    outline: none;

    padding: 0;
    margin: 0;

    font-family: inherit;
    font-size: inherit;
  }

  input::placeholder {
    color: $textDimColor;
  }
}

.text,
.password,
.search,
.email,
.number,
.file {
  &::before {
    content: '[';

    font-weight: bold;
  }

  &::after {
    content: ']';

    font-weight: bold;
  }

  &:has(input:disabled) {
    &::before {
      content: '|';
    }

    &::after {
      content: '|';
    }
  }

  &.invalid {
    &::before {
      color: $red;
    }

    &::after {
      color: $red;
    }

    input {
      color: $red;

      &::placeholder {
        color: color.scale($red, $lightness: -30%);
      }
    }
  }

  &.overflow-left {
    &::before {
      content: '⟪';
    }
  }

  &.overflow-right {
    &::after {
      content: '⟫';
    }
  }

  input {
    color: $textBrightColor;

    &:disabled {
      color: $textDimColor;
    }
  }
}

.number {
  input {
    text-align: right;

    appearance: textfield;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.radio {
  @extend %label-disabled;

  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: $textBrightColor;
    }
  }

  input {
    margin: 0;

    appearance: none;
    width: cw(3);

    &:not(:disabled) {
      cursor: pointer;
    }

    &::before {
      content: '( )';
      color: $textColor;
      font-weight: bold;

      font-family: $monoFontFamily;
    }

    &:checked::before {
      content: '(*)';
      color: $textBrightColor;
    }

    &:disabled::before {
      content: '| |';
      color: $textDimColor;
    }

    &:disabled:checked::before {
      content: '|*|';
      color: $textDimColor;
    }
  }
}

.file {
  @extend %label-disabled;

  cursor: pointer;

  input {
    color: $textDimColor;

    &::file-selector-button {
      cursor: pointer;

      background: transparent;
      border: none;
      border-right: $borderSize solid $textDimColor;

      color: $textBrightColor;
      font: inherit;

      padding: 0 cw(1) 0 0;
      margin-right: cw(1);
    }

    &:disabled {
      cursor: not-allowed;

      &::file-selector-button {
        cursor: not-allowed;
        color: $textDimColor;
      }
    }
  }
}

.range {
  @extend %label-disabled;

  cursor: pointer;

  &::before {
    content: '<';

    font-weight: bold;
  }

  &::after {
    content: '>';

    font-weight: bold;
  }

  input {
    appearance: none;

    vertical-align: middle;

    position: relative;
    top: calc(#{$borderSize} / -2);

    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &::-webkit-slider-runnable-track {
      height: $borderSize;

      background: $textDimColor;
    }

    &::-moz-range-track {
      height: $borderSize;

      background: $textDimColor;

      border: none;
    }

    &::-webkit-slider-thumb {
      appearance: none;

      width: cw(1);
      height: ch(1);

      background: $textBrightColor;

      margin-top: calc(ch(0.5) * -1 + #{$borderSize} / 2);

      border-radius: $borderRadius;
    }

    &::-moz-range-thumb {
      width: cw(1);
      height: ch(1);

      background: $textBrightColor;

      border: none;
      border-radius: $borderRadius;
    }

    &:disabled {
      &::-webkit-slider-thumb {
        background: $textDimColor;
      }

      &::-moz-range-thumb {
        background: $textDimColor;
      }
    }
  }
}
