@use 'app' as *;

%label-container-base {
  display: grid;
  grid-template-columns: auto auto;

  position: absolute;
  max-width: calc(100% - cw(2));
  width: 100%;

  pointer-events: none;
}

%label-base {
  display: flex;
  max-width: 100%;
  padding: 0 cw(0);
  color: $backgroundColor;

  border-radius: $borderRadius;

  & ~ & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:only-child):first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.modal {
  position: fixed;

  left: calc(50% + var(--modal-offset-x));
  top: calc(50% + var(--modal-offset-y));
  transform: translate(-50%, -50%);

  background-color: $modalColor;
  width: max-content;

  padding: ch(2) cw(1) ch(1) cw(1);

  :where(&) {
    overflow: hidden;

    --widget-border-color: #{$borderColor};
    --widget-border-style: solid;
    --widget-border-width: #{$borderSize};
    --widget-border-radius: #{$borderRadius};
    --modal-padding-x-units: 2;
    --modal-padding-y-units: 1;
  }

  .content-container {
    max-height: calc(100dvh - ch(3) - var(--modal-padding-y-units) * var(--console-unit-height) * 2);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .pre-decorator-bottom,
  .post-decorator-bottom {
    position: relative;
    width: cw(1);
    height: ch(1);
    flex-shrink: 0;

    &::after {
      content: '';
      position: absolute;

      $decoratorSize: 30%;

      width: calc(50% - var(--widget-border-width) / 2);
      height: calc($decoratorSize - var(--widget-border-width) / 2);

      bottom: calc(50% - $decoratorSize);

      border-top: var(--widget-border-width) var(--widget-border-style) var(--widget-border-color);
      border-right: var(--widget-border-width) var(--widget-border-style) var(--widget-border-color);
    }
  }

  .pre-decorator-bottom {
    transform: scaleY(-1);
  }

  .post-decorator-bottom {
    transform: scaleX(-1) scaleY(-1);
  }

  .top-labels {
    @extend %label-container-base;
    top: 0;

    .left-labels,
    .right-labels {
      gap: cw(1);
    }
  }

  .bottom-labels {
    @extend %label-container-base;
    bottom: 0;
  }

  .left-labels {
    display: flex;
    justify-content: flex-start;
  }

  .right-labels {
    display: flex;
    justify-content: flex-end;
  }

  .top-left-label,
  .top-right-label,
  .bottom-left-label,
  .bottom-right-label {
    @extend %label-base;
  }

  .bottom-left-label,
  .bottom-right-label {
    backdrop-filter: blur(1rem);

    color: $textBrightColor;
    font-weight: bold;
  }

  &::before {
    content: '';
    position: absolute;

    pointer-events: none;
    user-select: none;

    height: calc(100% - ch(1) - var(--widget-border-width));
    width: calc(100% - cw(1) - var(--widget-border-width));

    top: calc(ch(1) / 2 - var(--widget-border-width) / 2);
    left: calc(cw(1) / 2 - var(--widget-border-width) / 2);

    border-color: var(--widget-border-color);
    border-style: var(--widget-border-style);
    border-width: var(--widget-border-width);
    border-radius: var(--widget-border-radius);
  }

  &.narrow {
    width: calc(100% - cw(2));
    max-width: calc(100% - cw(2));
  }
}

.top-bar {
  cursor: move;

  position: absolute;

  top: 0;
  left: calc(cw(1) / 2 - var(--widget-border-width) / 2);

  height: ch(1);
  width: calc(100% - cw(1) + var(--widget-border-width));

  background-color: $textColor;

  border-radius: $borderRadius $borderRadius 0 0;

  &.narrow {
    cursor: default;
  }
}

.close-button {
  pointer-events: initial;

  border-radius: 0;

  &:hover {
    background-color: $red;
    color: $backgroundColor;
  }
}
