@use 'app' as *;

.acrylic-background {
  position: fixed;

  z-index: -9001;

  pointer-events: none;
  user-select: none;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.overlay {
  position: fixed;

  z-index: -9000;

  pointer-events: none;
  user-select: none;

  width: 100%;
  height: 100%;

  background-color: rgba($backgroundColor, 0.75);
  backdrop-filter: blur(2rem) saturate(200%);
}

.noise-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  mix-blend-mode: overlay;
  pointer-events: none;
}
