@use 'app' as *;

.container {
  width: round(down, 100%, cw(1));
  max-height: 100%;

  container-type: inline-size;
  container-name: dashboard;

  overflow-y: auto;
}

.dashboard {
  display: grid;
  grid-template-columns: cw(50) 1fr;

  width: 100%;
}

@container dashboard (max-width: 800px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}

.stats-widget {
  width: 100%;
  height: fit-content;

  .label {
    color: $textColor;
  }

  .active-stats {
    color: $textBrightColor;
  }
}
