@use 'app' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  color: $yellowBright;

  padding: ch(1) cw(1);
  width: fit-content;
}

.stats-container {
  display: grid;

  width: round(down, 100%, cw(1));
  max-width: cw(100);

  grid-template-columns: 1fr 1fr;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.elo-chart {
  box-sizing: border-box;

  width: round(down, 100%, cw(1));
}
