@use 'app' as *;

.outer-container {
  max-height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-gutter: stable;
}

.container {
  height: 100%;
  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}

.forced-dropdown-width {
  width: cw(20);
}
