@use 'app' as *;

.widget {
  width: round(down, 100%, cw(1));
}

.container {
  display: grid;
  grid-template-columns: auto auto;

  align-items: end;

  column-gap: cw(1);

  span {
    text-align: right;
  }
}

.highlight {
  color: $textBrightColor;
}

.cancelled-label {
  text-transform: uppercase;
  font-weight: bold;

  color: $redBright;
}
