@use 'app' as *;

.widget {
  width: round(down, 100%, cw(1));
}

.container {
  display: grid;
  grid-template-columns: auto auto;

  align-items: end;

  column-gap: cw(1);

  span {
    text-align: right;
  }
}

.highlight {
  color: $textBrightColor;
}

.team-color {
  display: inline-block;

  width: cw(10);
  height: ch(1);

  transition: background-color 0.2s ease-in-out;

  background-color: var(--team-color);

  mask: url('/frontend/assets/images/braille.svg') 0 0 / cw(1) ch(1);
}
