@use 'app';

@mixin symbolFont($fill: 0, $important: false) {
  @if $important {
    font-variation-settings: 'FILL' var(--material-symbol-fill, $fill) !important;
  } @else {
    font-variation-settings: 'FILL' var(--material-symbol-fill, $fill);
  }
}

@mixin symbolSize($iconSize: app.$defaultIconSize, $fontSize: app.$defaultFontSize) {
  font-size: $iconSize;
  width: app.cw(2, $fontSize);

  line-height: app.ch(1, $fontSize);
}

@mixin highlight($highlight) {
  @media (hover: hover) {
    &:hover {
      color: $highlight;
    }
  }

  &:active,
  &:not(:not(.active)) {
    color: $highlight;
  }
}

@mixin interactive($highlight: false) {
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      translate: 0 -0.2rem;
    }
  }

  &:active {
    translate: 0 -0.2rem;
    @include symbolFont(1);
  }

  @if $highlight {
    @include highlight($highlight);
  }
}
