@use 'app';
@use 'fontFaces.scss';

:root {
  font-size: app.$baseFontSize;
  scrollbar-color: app.$borderColor app.$widgetColor;
  scrollbar-width: thin;
}

body {
  margin: 0;
  font-family: app.$fontFamily;
  background-color: app.$backgroundColor;
  font-size: app.$defaultFontSize;
  color: app.$textColor;

  ::selection {
    background-color: app.$textBrightColor;
    color: app.$backgroundColor;
  }
}

html,
body {
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

#root {
  min-height: inherit;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: app.$widgetColor;
  border-radius: 50rem;
}

::-webkit-scrollbar-thumb {
  background: app.$borderColor;
  border-radius: 50rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: app.$primaryColor;
}

button {
  user-select: none;
  text-decoration: none;
  font-family: app.$fontFamily;
  color: inherit;
  background-color: transparent;

  border: none;
  outline: none;
  margin: 0;
  padding: 0;

  height: min-content;
  width: min-content;

  font-size: app.$defaultFontSize;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

code {
  font-family: app.$monoFontFamily;

  &:not(pre > code) {
    color: app.$codeColor;
  }
}

a {
  text-decoration: none;

  &:not(.no-style) {
    color: app.$primaryColor;
    font-weight: 500;

    transition:
      color 0.2s ease-in-out,
      text-decoration 0.2s ease-in-out;

    &:visited {
      color: app.$primaryColor;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: solid underline;
        color: app.$primaryBrightColor;
      }
    }
  }
}

pre {
  margin: 0;
  font-family: app.$monoFontFamily;
}
