@use 'app' as *;

.button {
  position: relative;

  width: fit-content;

  border-radius: $borderRadius;

  transition:
    background-color 0.1s,
    color 0.1s;

  &::before {
    content: '[';

    position: absolute;
    left: 0;

    font-weight: bold;
  }

  &::after {
    content: ']';

    position: absolute;
    right: 0;

    font-weight: bold;
  }
}

.primary {
  background-color: $gray;
  color: $backgroundColor;

  @media (hover: hover) {
    &:hover {
      background-color: $grayBright;
      color: $backgroundColor;
    }
  }

  &:active {
    background-color: $gray;
    color: $backgroundColor;
  }
}

.secondary {
  color: $textColor;

  @media (hover: hover) {
    &:hover {
      background-color: $grayBright;
      color: $backgroundColor;
    }
  }
  &:active {
    background-color: $gray;
    color: $backgroundColor;
  }
}

.danger {
  background-color: $red;
  color: $backgroundColor;

  @media (hover: hover) {
    &:hover {
      background-color: $redBright;
      color: $backgroundColor;
    }
  }

  &:active {
    background-color: $red;
    color: $backgroundColor;
  }
}

.disabled {
  cursor: not-allowed;

  color: $textDimColor;

  &::before {
    content: '|';
    font-weight: bold;
  }

  &::after {
    content: '|';
    font-weight: bold;
  }
}

.content {
  padding: 0 cw(var(--padding, 2));
}

.loading {
  visibility: hidden;
}

.spinner {
  position: absolute;

  height: ch(1);
  width: cw(1);

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
