@use 'app' as *;

.button {
  position: relative;

  width: fit-content;

  border-radius: $borderRadius;

  transition: background-color 0.1s, color 0.1s;

  &::before {
    content: '[ ';
  }

  &::after {
    content: ' ]';
  }
}

.primary {
  background-color: $gray;
  color: $backgroundColor;

  @media (hover: hover) {
    &:hover {
      background-color: $grayBright;
      color: $backgroundColor;
    }
  }

  &:active {
    background-color: $gray;
    color: $backgroundColor;
  }
}

.secondary {
  @media (hover: hover) {
    &:hover {
      background-color: $grayBright;
      color: $backgroundColor;
    }
  }
  &:active {
    background-color: $gray;
    color: $backgroundColor;
  }
}

.danger {
  background-color: $red;
  color: $backgroundColor;

  @media (hover: hover) {
    &:hover {
      background-color: $redBright;
      color: $backgroundColor;
    }
  }

  &:active {
    background-color: $red;
    color: $backgroundColor;
  }
}

.disabled {
  cursor: not-allowed;

  &::before {
    content: '| ';
  }

  &::after {
    content: ' |';
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        content: '| ';
      }

      &::after {
        content: ' |';
      }
    }
  }
}

.loading {
  visibility: hidden;
}

.spinner {
  position: absolute;

  height: ch(1);
  width: cw(1);

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
