@use 'app' as *;

.container {
  max-height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-gutter: stable;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
