import style from './{{ name}}.module.scss';

export interface {{ name }}Props {
  // Component props
}

export const {{ name }}: Component<{{ name }}Props> = (props) => {
  return <span>{{ name }} component</span>;
};